# Enable the rewrite engine
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect all requests to the index.php file
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php?q=$1 [L,QSA]

    # Set the default character set
    AddDefaultCharset UTF-8

    # Enable PHP display errors
    php_flag display_errors on
</IfModule>